.profile {
    margin-block: -40px 40px;
}

.profile__info {
    margin-block: 40px;
}

.profile__details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.profile__photo {
    width: 120px;
    height: 120px;
    background-color: var(--color-primary);
    border: 10px solid var(--color-primary);
    border-radius: calc(var(--radius) * 2);
    overflow: hidden;
}

.profile__photo img {
    width: 100%;
    height: 100%;
}

.profile__stats {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.profile__statusCard {
    padding: 10px;
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    border-radius: var(--radius);
}

.profile__statusCard span {
    padding: 10px;
}

.profile__statusCard span:first-child {
    border-right: 1px solid var(--color-tertiary);
}

.profile__userName {
    margin-bottom: 20px;
}

.profile__userName h1 {
    font-size: var(--font-size-large);
}

.profile__userBio {
    font-size: var(--font-size-title);
}

@media screen and (min-width: 992px) {
    .profile__details {
        flex-direction: row;
        align-items: flex-end;
    }
    
    .profile__photo {
        flex-basis: 120px;
    }

    .profile__stats {
        flex-basis: calc(100% - 120px);
        padding-bottom: 8px;
    }
}