.repo {
    background-image: var(--color-gradient);
    padding: 20px;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.repo__name h2 {
    font-size: var(--font-size-title);
}

.repo__description {
    color: var(--color-text-alt);
    flex-grow: 1;
}

.repo__details {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--color-text-alt);
}

.repo__detail {
    display: flex;
    align-items: center;
    gap: 5px;
}

.repo__updatedAt {
    font-size: var(--font-size-small);
}