#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root>main {
  flex-grow: 1;
}

.gh-container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: 20px;
}

.gh-image-as-icon {
  pointer-events: none;
}

.gh-button.clear {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}