.repos {
    margin-block: 40px;
}

.repos__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 50px;
}

.repos__view {
    text-align: center;
}

@media screen and (min-width: 576px) {
    .repos__list {
        grid-template-columns: 1fr 1fr;
    }
}